/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

/public/css/frontend.css
/public/css/frontend.css.map
/public/css/backend.css
/public/css/backend.css.map
/public/js/frontend.js
/public/js/frontend.js.map
/public/js/backend.js
/public/js/backend.js.map
/public/img/profiles

.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.vagrant
.idea
.project
_ide_helper.php
composer.phar
error.log
/.vagrant
Todo.rtf
bin/
!/public/img/timetable/logo-print.jpg
!/public/img/profiles/avatar.png
!/public/img/profiles/
/public/bower_components/

/public/assets/
/public/score/
!/public/score/
/public/plugins/
/public/plugins/DataTables-1.10.15/
/public/build/
/package-lock.json
!/public/assets/fonts/Kh-Bokor.ttf
!/public/assets/fonts/khmer M2.volt.ttf
!/public/assets/fonts/KhmerOSMoulpali.ttf
!/public/assets/fonts/TACTIENG.TTF
!/public/assets/fonts/KhmerOSniroth.ttf
!/public/assets/fonts/Metal.ttf
!/public/assets/fonts/khmer M1.volt.ttf
!/public/assets/fonts/Bayon.ttf
!/public/assets/fonts/KhmerOSContent-Regular.ttf
