/** Print timetable **/
body {
    margin: 0 auto;
    line-height: 0.8 !important;
}

.content-wrapper {
    background-image: none !important;
    background-color: #fff;
}

* {
    box-sizing: border-box !important;
}

.each-page {
    page-break-after  : avoid;
    page-break-before : avoid;
    page-break-inside : avoid;
}

table.timetable {
    width: 100%;
}

table.timetable tr td {
    margin: 0 !important;
    border: 0.5px solid #c7c7c7;
    border-collapse: collapse;
}

table.timetable th {
    padding: 5px !important;
}

table.timetable p, table.timetable tr td {
    font-size: 11px !important;
    margin: 8px !important;
    padding: 0 !important;
    line-height: normal;
    height: 40px !important;
}

th {
    height: 50px !important;
}

img.image-logo {
    margin: 0;
    padding: 0 !important;
    width: 50px;
    height: 50px;
    text-align: left !important;
    float: left;
}

@media print {
    .row {
        page-break-after: always !important;
    }

    .row:last-child {
        page-break-after: auto !important;
    }

    table.timetable tr td {
        border: 0.1px solid #c7c7c7;
    }
}

/** end print timetable **/

.content {
    /*background: rgb(204, 204, 204) !important;*/
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    /*box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);*/
    padding: 10px;
}

page[size="A4"] {
    width: 100%;
    height: auto;
}

page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
}

page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}

page[size="A3"][layout="portrait"] {
    width: 42cm;
    height: 29.7cm;
}

page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}

page[size="A5"][layout="portrait"] {
    width: 21cm;
    height: 14.8cm;
}

@media print {
    body, page {
        margin: 0;
        box-shadow: 0;
        width: 100%;
        font-size: 11px;
        padding: 0px;
    }

    table {
        width: 100%;
    }

    .each-page {
        page-break-after: always !important;
    }

    .each-page:last-child {
        page-break-after: auto !important;
    }
}

.lang-info {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.lang-info-left, .lang-info-right {
    width: 50%;
}

.lang-info-left {
    float: left;
}

.lang-info-right {
    float: right;
}


table.timetable tr td{
    position: relative !important;
}

table.timetable tr td div.course_type {
    position: absolute;
    top: 5px;
    right: 5px;
}

table.timetable tr td div.course_name,
table.timetable tr td div.teacher_name{
    text-align: center;
}

table.timetable tr td div.room_name {
    position: absolute;
    bottom: 5px;
    right: 5px;
}