@font-face {
  font-family: franklin_gothic;
  src: url("../fonts/Franklin Gothic Demi Cond Regular.ttf");
}
@font-face {
  font-family: arial-rounded;
  src: url("../fonts/arial-rounded-mt-bold.ttf");
}
@font-face {
    font-family: bayon;
    src: url("../fonts/Bayon.ttf");
}
@font-face {
  font-family: khmersantepheap;
  src: url("../fonts/khmer-Santepheap.ttf");
}
@font-face {
    font-family: kh-bokor;
    src: url("../fonts/Kh-Bokor.ttf");
}
@font-face {
    font-family: khmerosmoulpali;
    src: url("../fonts/KhmerOSMoulpali.ttf");
}
@font-face {
    font-family: metal;
    src: url("../fonts/Metal.ttf");
}
@font-face {
    font-family: tactieng;
    src: url("../fonts/TACTIENG.TTF");
}
@font-face {
    font-family: khmeros;
    src: url("../fonts/KhmerOSContent-Regular.ttf");
}
.modal-title{
    font-family: 'KhmerOSMoulpali';
}
